{% extends "node.html.twig" %}
{% block title -%}{% endblock %}
{% block content -%}

  {% set destination_url = url %}
  {%- if node.field_destination_url.value -%}
    {% set destination_url = node.field_destination_url.0.url %}
  {%- endif -%}

  <div class="group-image">
    <a href="{{ destination_url }}">
      {% set image_src = default_image_src|default('/themes/custom/cwd_base/images/cwd_utilities/photo_placeholder_square.svg') %}
      {% if node.field_image.0.value -%}
        {% set image_src = file_url(node.field_image[0].entity.field_media_image.entity.uri.value | image_style('medium_square')) %}
      {%- endif %}
      <img src="{{ image_src }}" alt="">
      <div class="overlay">
        <h3><span class="deco">{{- label -}}</span></h3>
      </div>
    </a>
  </div>

  {% if node.field_job_title.value or node.field_location.value -%}
    <div class="group-fields">
      {% if node.field_job_title.value -%}
        <h4 class="subheading job-title">{{ node.field_job_title.value }}</h4>
      {% endif %}
      {% if node.field_location.value -%}
        <h4 class="subheading subheading-secondary base-font field-location">{{ node.field_location.value }}</h4>
      {% endif %}
    </div>
  {% endif %}

{% endblock %}
