{% embed "node.html.twig" %}

{% block content -%}

<div class="cwd-component cwd-spotlight full">

  {% if node.field_image.value %}
  <figure class="high-margin">
    {{ content.field_image }}
  </figure>
  {% endif %}

  {% if node.field_destination_url.value %}
  <div class="field-destination high-margin">
    <p><strong class="tutorial note">Note:</strong> This spotlight features content from another page. <a href="{{ node.field_destination_url.0.url }}">View the featured content</a> for this spotlight.</p>
  </div>
  {% endif %}

  <div class="field-body double-margin">
    {{ content.body }}
  </div>

  {% if node.field_tags.value -%}
    <hr>
    <h4 class="sr-only">Tags</h4>
    <div class="metadata-set">
    {% for term in node.field_tags -%}
      <div class="field">
        {% set term_url = path('entity.taxonomy_term.canonical', {'taxonomy_term': term.entity.tid.value}) %}
        <a href="{{ term_url }}"><span class="deco">{{ term.entity.name.value }}</span></a>
      </div>
    {%- endfor %}
    </div>
  {%- endif %}

</div>
{% endblock %}

{% endembed %}
