{#
/**
 * @file
 * Theme override for the basic, "outer-most" structure of a single Drupal page.
 * See cwd_base/html.html.twig for available variables and other info.
 *
 * @see template_preprocess_html()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    is_error_page ? 'error-page',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
    not root_path ? 'home' : 'secondary-page',
    'cu-seal',
    'cu-gray',
    root_path ? 'sidebar',
    root_path ? 'sidebar-right',
    root_path ? 'sidebar-tint',
    root_path ? 'sidebar-tint-fade',
    root_path ? 'sidebar-tint-edge',
    node.field_banner_image[0].entity.field_media_image.entity.uri.value ? 'custom-banner'
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <head-placeholder token="{{ placeholder_token|raw }}">
  <title>{{ head_title|safe_join(' | ') }}</title>
  <css-placeholder token="{{ placeholder_token|raw }}">
  <js-placeholder token="{{ placeholder_token|raw }}">
</head>
<body{{ attributes.addClass(body_classes) }}>

  <div id="skipnav"><a href="#main">{{ 'Skip to main content'|t }}</a></div>

  {% include "@cwd_project/partials/site-header.html.twig" %}

  {{ page_top }}
  {{ page }}
  {{ page_bottom }}

  {% include "@cwd_project/partials/site-footer.html.twig" %}

  <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  <!-- Emergency banner removed March 2021 -->
  <!-- script src="https://embanner.univcomm.cornell.edu/OWC-emergency-banner.js" type="text/javascript" async></script -->
</body>
</html>
