{# See comment about date field settings in node--event.html.twig. #}
{% set event_date = content.field_event_date.0['#text'] %}

  <div class="group-image">
    <a href="{{ content.field_destination_url.0['#plain_text'] }}">
      {% if node.field_event_image is empty %}
        <img src="/themes/custom/cwd_base/images/photos/square480_default.jpg" alt="">
      {% else %}
        {{ content.field_event_image }}
      {% endif %}
      <div class="overlay">
        <h3><span class="deco">{{ label }}</span></h3>
      </div>
      <time title="{{ event_date|date('F jS') }}" datetime='{{ event_date }}'>
        <span class="month">{{ event_date|date('M') }}</span>
        <span class="day">{{ event_date|date('d') }}</span>
      </time>
    </a>
  </div>
  <div class="group-fields">
    <div class="field location">
      <span class="event-time">{{ event_date|date('g:i a') }}</span>
      {%- if node.field_event_location.0 %},
        <span class="event-location">{{ content.field_event_location }}</span>
      {% endif %}
    </div>
  </div>

